# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE specific files
.idea/
.vscode/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

certs/ca_cert.srl